<html>
<head>

</head>
    <body>
        <h3>{{ciudad}} - {{ fecha }}</h3>
        <h2>Hola, {{ nombre }} {{ apellido }}</h2>
        <p>
            Hemos recibido la solicitud de compra del siguiente producto...
            <br>
            * {{ producto }} {{descripcion}} 
            <br>
            Con un valor De {{ costo }}
            <br>
            <!-- Por tu compra obtienes un bono del 10% para una proxima compra.
            En los proximos dias sera enviado tu paquete,
            no olvides seguirnos en nuestras redes sociales como @Sp-indumentary -->
            <br>
            Que tengas un feliz dia para nosotros fue un placer atenderte.
            <br>
            Atentamente, 
            <br>
            Tienda DM
        </p>
        <h6>---------------------------------------------------</h6>
    </body>
</html>