<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda DM - Ventas</title>
    {% load static %}
    <link href="{% static 'css/ventas.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <h2>Tienda DM</h2>
<form method="POST" action="/factura/"> {% csrf_token %}
    <h4>Informacion Del Producto Comprado</h4>
    <div class="input-group">
                    <div class="input-box">
                        <input type="text" value={{producto.name}} placeholder="Nombre Producto" required class="name" name="txtproducto" disabled>
                        <i class="fa fa-chevron-circle-right icon"></i>
                    </div>
    <div class="input-box">
                        <input type="text" value={{producto.category}} placeholder="Categoria" required class="name" disabled>
                        <i class="fa fa-chevron-circle-right icon"></i>
                    </div>
    </div>
    <div class="input-group">
        <div class="input-box">
            <input type="text" placeholder="Costo" value={{producto.cost}}  required class="name" name="txtcosto" disabled>
            <i class="fa fa-chevron-circle-right icon"></i>
        </div>
    <div class="input-box">
            <input type="text" min="0" value={{producto.cantidad_stock}}  placeholder="Stock" required class="name" disabled>
            <i class="fa fa-chevron-circle-right icon"></i>
        </div>
    </div>
    <div class="input-group">
    <div class="input-box">
        <input type="text" placeholder="Descripcion" value="{{producto.description}}" class="name" disabled>
            <i class="fa fa-chevron-circle-right icon"></i>
        </div>
    </div>
            <h4>Datos Personales</h4>
<div class="input-group">
                <div class="input-box">
                    <input type="text" placeholder="Nombres" required class="name" name="txtnombre">
                    <i class="fa fa-user icon"></i>
                </div>
<div class="input-box">
                    <input type="text" placeholder="Apellidos" required class="name" name="txtapellido">
                    <i class="fa fa-user icon"></i>
                </div>
</div>
<div class="input-group">
    <div class="input-box">
        <input list="Documento" placeholder="Tipo De Documento" required class="name">
        <i class="fa fa-id-card-o icon"></i>
        <datalist id="Documento">
            <option>Cedula Ciudadanía</option>
            <option>Tarjeta De Identidad</option>
            <option>Pasaporte</option>
          </datalist>
    </div>
<div class="input-box">
        <input type="text" placeholder="N° Documento" required class="name" name="txtdocumento">
        <i class="fa fa-id-card-o icon"></i>
    </div>
</div>
<div class="input-group">
    <div class="input-box">
        <input type="text" placeholder="Telefono" required class="name" name="txttelefono">
        <i class="fa fa-phone icon"></i>
    </div>
</div>
<div class="input-group">
    <div class="input-box">
        <input type="email" placeholder="Correo Electronico" required class="name" name="txtcorreo">
        <i class="fa fa-envelope icon"></i>
    </div>
</div>
<div class="input-group">
                <div class="input-box">
                    <input type="text" placeholder="Direccion" required class="name" name="txtdireccion">
                    <i class="fa fa-street-view icon"></i>
                </div>
</div>
<div class="input-group">
    <div class="input-box">
        <input list="Departamento" placeholder="Departamento" required class="name" name="txtdepartamento">
        <i class="fa fa-globe icon"></i>
        <datalist id="Departamento">
            <option>Antioquia</option>
          </datalist>
    </div>
<div class="input-box">
        <input list="Ciudad" placeholder="Ciudad" required class="name" name="txtciudad">
        <i class="fa fa-globe icon"></i>
        <datalist id="Ciudad">
            <option>Medellín</option>
          </datalist>
    </div>
</div>
<div class="input-box">
    <input type="number" placeholder="Cuantas unidades desea llevar" required class="name" min="1">
    <i class="fa fa-hashtag icon"></i>
</div>
<div class="input-group">
        <div class="input-box">
            <h4>Forma De Pago</h4>
                <input type="radio" name="pay" id="bc1" class="radio">
                <label for="bc1"><span><i class="fa fa-money"></i> Efectivo</span></label>
                <input type="radio" name="pay" id="bc2" class="radio">
                <label for="bc2"><span><i class="fa fa-cc-visa"></i> Tarjeta Credito O Debito</span></label>
                <input type="radio" name="pay" id="bc3" class="radio">
        </div>
</div>
<div class="input-group">
        <div class="input-box">
            <button type="button"><a href="{% url 'inicio' %}" style="text-decoration: none; color: antiquewhite;">Volver Al Inicio</a></button>
        </div>
         <div class="input-box">
            <button type="reset">Limpiar Campos</button>
        </div>
</div>
        <div class="input-box">
            <button type="submit">Finalizar Compra</button>
        </div>
</form>
</div>
</body>
</html>